body{
    margin: 0;
    height: 0;
    display: flex;

}


.un{
    background-color: green;
}

.deux{
    background-color: blue;
}

.trois{
    background-color: purple;

}

.quatre{
    background-color: orange;
}

.cinq{
    background-color: red;
}

.six{
    background-color: green;
}

.sept{
    background-color: blue;
}

.huit{
    background-color: purple;
}
